In [2]:
import pandas as pd

In [17]:
read_df = pd.read_csv("./asa.csv", delimiter="\t")

In [34]:
df = pd.DataFrame()
df["Name"] = read_df["Name"]
df["Location"] = read_df["Location"]
df["Restaurant"] = read_df["What is one good restaurant in Arizona you would recommend to others? (Doesn't have to be asian)"]
df["Generation"] = read_df["Are you GenZ/Millennial? (This won't have affect on your admission)"]
df["DesiredActivity"] = read_df["What is one activity you want to see as an event?"]
df['Sports'] = read_df['Do you play any sports? (e.g. Tennis, Badminton," Basketball). List out the sports you enjoy or simply say ""None""",,,']

In [35]:
print(df["Generation"])

0                                     Millennial
1                                             No
2                                in-between both
3                                     millennial
4                                           GenZ
5                   No...but I'm young at heart!
6                                             No
7                                          Gen X
8                                     Millennial
9                                            NaN
10                                         Gen Z
11                                    Millennial
12                                           Yes
13                                     Millenial
14                             I am 62 yrs young
15                                           Yes
16                                    Millennial
17                                         Gen X
18                                    Millennial
19                                   Millennial!
20                                    milennial?
21                                          GenZ
22    Actually I donâ€™t know what that means...
23                                          GenZ
24                                    Iâ€™m GenZ
25                                           Yes
26                                            No
27                                             ?
28                                    millennial
29                                    Millennial
30                                           Yes
Name: Generation, dtype: object

In [29]:
print(df.groupby('Location')['Name'].nunique())

Location
Chandler, AZ            2
Gilbert, AZ             2
Glendale, AZ            1
Laveen, AZ              1
Mesa, AZ                4
Paradise Valley, AZ     1
Peoria, AZ              1
Phoenix, AZ            10
Scottsdale, AZ          5
Tempe, AZ               4
Name: Name, dtype: int64

In [36]:
print(df["Restaurant"])

0                         Great Wall cuisine in Phoenix
1                                              Francine
2                                 Pinos Pizza Al Centro
3                                  la indita Tucson, AZ
4                                          Delhi Palace
5     https://www.azhotpot.com/. It's called YuTianX...
6                                             Chef Wong
7             Sizzle or Smoking Tiger (both Korean BBQ)
8                    At My Place Cafe for Filipino food
9                                                   NaN
10                                            Pho thanh
11                                           Angry crab
12                                   Cheesecake Factory
13                           Juun All-You-Can-Eat sushi
14    I am new to the valley so to be honest, don't ...
15                                                Manna
16                                     Sicilian Butcher
17                                      The Living Room
18                                          Hilal Grill
19                                         Tacos Chiwas
20                                      Renata's Hearth
21                                         Barrio Queen
22                                            Season 52
23                                                Pocha
24                                            Fired Pie
25                                             Gen kbbq
26                                      Szechwan Garden
27                                         Wholly Grill
28           I would recommend SakeBomber Sushi & Grill
29                                               Hodori
30                                         Roaring fork
Name: Restaurant, dtype: object

In [37]:
print(df["DesiredActivity"])

0       Anything to do with food and cultural exchanges
1                                                Social
2     Activities that allows people to connect and g...
3                                           river float
4                                     Hike, dance party
5                                    Dining out/drinks.
6                                  anything interesting
7                                  Seeing Asian standup
8                                                  Kbbq
9                                                   NaN
10                                              karaoke
11                                             Pot luck
12                                           Volleyball
13                                             Kayaking
14                             I'm in for any activity.
15                                           Korean BBQ
16                                               Brunch
17                                        Wine tastings
18                                               Dinner
19                             Karaoke? Coffee meet up?
20                            playing asian broad games
21                                             Hangouts
22                 Medium-intensity Outdoor activities.
23                              I prefer evening events
24                                            Fired Pie
25                    Finding cool spots to hang out at
26    New to Meetups but curios about interesting cu...
27                                              karaoke
28        Let's go volunteer or go out to an arcade bar
29                                             Lake day
30           Happy hours / dinners / yoga ðŸ§˜â€â™€ï¸
Name: DesiredActivity, dtype: object

In [43]:
print(df[df["Sports"] != ",,"]["Sports"])

1                                         Open to all,,
3                                                     ,
4                                                     ,
5                                                     ,
8                                           Badminton,,
11                                        Pickle ball,,
13              Badminton, Volleyball, Ultimate Frisbee
14                                              Hiking,
17     Pickleball (3.5) ; Hiking (Intermediate); Yoga,,
22    Would be happy to try for health reason, but n...
Name: Sports, dtype: object